.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000085;
  z-index: 1;
  display: none;
  .popup {
    max-width: 380px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    background: #f2f2f2f2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    padding: 40px 40px 60px;
    display: none;
    .consult{
     display: none;
      &__title {
        font-family: "Museo Sans Cyrl 700", sans-serif;
        font-size: 19px;
        color: #000000;
      }

      &__subtitle {
        font-family: "Museo Sans Cyrl 500", sans-serif;
        font-size: 14px;
        color: #000000;
        margin-bottom: 25px;
      }
    }
    .buy-form{
      display: none;
      &__title {
        font-family: "Museo Sans Cyrl 700", sans-serif;
        font-size: 19px;
        color: #000000;
        margin-bottom: 15px;
      }

      &__subtitle {
        font-family: "Museo Sans Cyrl 500", sans-serif;
        font-size: 14px;
        color: #000000;
        margin-bottom: 25px;
      }
    }
    .thanks{
      display: none;
      padding: 20px 40px;
      &__title {
        font-family: "Museo Sans Cyrl 700", sans-serif;
        font-size: 19px;
        color: #000000;
        margin-bottom: 18px;
      }
      &__subtitle {
        font-family: "Museo Sans Cyrl 500", sans-serif;
        font-size: 14px;
        color: #000000;
        margin-bottom: 25px;
      }
    }
    .consultation-form {
      margin: 0 auto;
    }

    &__close {
      position: absolute;
      top: 0;
      right: -35px;
      width: 24px;
      height: 24px;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 3px;
        background: $redColor;
        top: 10px;
        left: 50%;
        transform: rotate(45deg);
      }
      &:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 2px;
        background: $redColor;
        top: 10px;
        left: 50%;
        transform: rotate(-45deg);
      }

    }

  }
}